<module xmlns="urn:jboss:module:1.5" name="com.sun.jsf-impl" slot="mojarra-2.1.19">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <dependencies>
        <module name="javax.faces.api" slot="mojarra-2.1.19"/>
        <module name="javaee.api"/>
        <module name="javax.servlet.jstl.api"/>
        <module name="org.apache.xerces" services="import"/>
        <module name="org.apache.xalan" services="import"/>
        <module name="javax.xml.rpc.api"/>
        <module name="javax.rmi.api"/>
        <module name="org.omg.api"/>
    </dependencies>

    <resources>
        <resource-root path="jsf-impl-2.1.19.jar"/>
    </resources>
</module>