<module xmlns="urn:jboss:module:1.5" name="javax.faces.api" slot="mojarra-2.1.19">
    <dependencies>
        <module name="com.sun.jsf-impl" slot="mojarra-2.1.19"/>
        <module name="javax.enterprise.api" export="true"/>
        <module name="javax.servlet.api" export="true"/>
        <module name="javax.servlet.jsp.api" export="true"/>
        <module name="javax.servlet.jstl.api" export="true"/>
        <module name="javax.validation.api" export="true"/>
        <module name="org.glassfish.javax.el" export="true"/>
        <module name="javax.api"/>
    </dependencies>

    <resources>
        <resource-root path="jsf-api-2.1.19.jar"/>
    </resources>
</module>