<module xmlns="urn:jboss:module:1.5" name="org.jboss.as.jsf-injection">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="wildfly-jsf-injection-7.1.2.GA-redhat-1.jar"/>
        <resource-root path="weld-core-jsf-2.4.7.Final-redhat-1.jar"/>
    </resources>

    <dependencies>
        <module name="com.sun.jsf-impl" slot="mojarra-2.1.19"/>
        <module name="javax.api"/>
        <module name="org.jboss.as.ee"/>
        <module name="org.jboss.as.jsf"/>
        <module name="org.jboss.as.web-common"/>
        <module name="javax.servlet.api"/>
        <module name="javax.enterprise.api"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.weld.core"/>

        <!-- added this for MyFacesAnnotationProvider -->
        <module name="javax.faces.api" slot="mojarra-2.1.19"/>
    </dependencies>
</module>
